//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");

//Global Colors
$primary-color: #fff100;
$secondary-color: #542e90;
$third-color: #f5f5f5;

//Global Fonts
$font-stack: "Montserrat", sans-serif;

//For Extend/Inheritance
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%container {
  margin: auto;
  max-width: 1170px;
   @media (max-width:1440px) {
    padding: 0 20px;
   }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
p {
  margin-bottom: 0;
}

//Scroll bar Style
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}

//Swiper styles

.swiper-pagination-progressbar-fill {
  background-color: $secondary-color !important;
}

.swiper-pagination-progressbar {
  top: 495px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper {
  padding: 30px 0 !important;
}